<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="connectionstring" value="User ID=sa;Password=sql;Initial Catalog=donar;Data Source=.;Connect Timeout=60000;Min Pool Size=0;Max Pool Size=200;Pooling=False;" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
